:root{
    /*Primárias*/
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    
    /*Light Theme*/
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    /*Dark Theme*/
    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

    --font-size: 18px;
}

*{
    box-sizing: border-box;
}

.cabecalho{
    background: url("/assets/images/bg-desktop-dark.jpg");
    height: 35vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.background{
    background-color: var(--Very-Dark-Blue);
    height: 65vh;
    width: 100vw;
    z-index: -1;
}

.container__titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__tarefas{
    display: flex;
    flex-direction: column;
}

.container__inicial{
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.titulo__principal{
    font-size: 25pt;
    letter-spacing: 0.2em;
    color: var(--Very-Light-Gray);
    padding-bottom: 0.7em;
}

.input__padrao{
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 1em;
    color: var(--Light-Grayish-Blue);
    font-size: 15px;
    font-weight: 400;
}


.container__total{
    position: relative;
    height: 50vh;
    width: 35vw;
    z-index: 100;
    margin: auto;
    top: 60px;
    
}

.icone__theme{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.icone__theme:hover{
    height: 26px;
    width: 26px;
}

.input__radio{
    width: 20px;
    height: 20px;
}

.linha__final{
    background-color: var(--Very-Dark-Desaturated-Blue);
    padding: 1em;
    color: var(--Light-Grayish-Blue);
    font-size: 12px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--Dark-Grayish-Blue);
    font-weight: 700;
}

.linha__filtros{
    display: flex;
    flex-direction: row;
    gap: 0.5em;

}

#itens__restantes, #filtro__todos, #filtro__ativos, #filtro__finalizados, #filtro__limpar{
    cursor: pointer;
}

#itens__restantes:hover, #filtro__todos:hover, #filtro__ativos:hover, #filtro__finalizados:hover, #filtro__limpar:hover{
    text-decoration: underline;
}
