:root{
    /*Primárias*/
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    /*Dark Theme*/
    --Titulo-color: hsl(0, 0%, 98%);
    --Background-color: hsl(235, 21%, 11%);
    --Background-input: hsl(235, 24%, 19%);
    --Letra-input-color: hsl(234, 39%, 85%);
    --Letra-linha-final-hover: hsl(236, 33%, 92%);
    --Letra-linha-final: hsl(234, 11%, 52%);
    --Borders-color: hsl(237, 14%, 26%);
    --Input-exclusao-color: hsl(233, 11%, 84%);
    --Check-botao-color: white;
}

.white__mode:root { 
    --Background-color: hsla(235, 32%, 92%, 0.801);
    --Background-input: hsl(0, 0%, 98%);
    --Letra-input-color: hsl(235, 19%, 35%);
    --Borders-color: hsl(236, 33%, 92%);
    --Letra-linha-final: hsl(236, 9%, 61%);
    --Letra-linha-final-hover:hsl(235, 19%, 35%);
    --Titulo-color: hsl(0, 0%, 98%);
    --Input-exclusao-color: hsl(233, 11%, 84%);
    --Check-botao-color: black;
}

*{
    box-sizing: border-box;
}

.cabecalho{
    background: url("/assets/images/bg-desktop-dark.jpg");
    height: 35vh;
    width: 100vw;
    background-repeat: no-repeat;
}

.background{
    background-color: var(--Background-color);
    height: 65vh;
    width: 100vw;
    z-index: -1;
}

.container__titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__tarefas{
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 290px;
}

.container__inicial{
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

.titulo__principal{
    font-size: 25pt;
    letter-spacing: 0.2em;
    color: var(--Titulo-color);
    padding-bottom: 0.7em;
}

.input__padrao{
    background-color: var(--Background-input);
    padding: 1.035em 1em;
    color: var(--Letra-input-color);
    font-size: 15px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 95% 5%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--Borders-color);
    
}

.input__padrao-principal{
    background-color: var(--Background-input);
    padding: 1em;
    color: var(--Letra-input-color);
    font-size: 15px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.container__total{
    position: relative;
    height: 50vh;
    width: 35vw;
    z-index: 100;
    margin: auto;
    top: 60px;
    
}

.icone__theme{
    height: 25px;
    width: 25px;
    cursor: pointer;
}

.icone__theme:hover{
    height: 26px;
    width: 26px;
}

.input__checkbox{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.linha__final{
    background-color: var(--Background-input);
    padding: 1em;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--Letra-linha-final);
    font-weight: 700;
}

.linha__filtros{
    display: flex;
    flex-direction: row;
    gap: 0.5em;

}

.linha__final-itens{
    cursor: pointer;
}

.linha__final-itens:hover{
    color: var(--Letra-linha-final-hover);
}

.tarefas{
    cursor: pointer;
}

.nova-tarefa{
    cursor: pointer;
    border: none;
    background-color: var(--Background-input);
    color: var(--Letra-input-color);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.nova-tarefa::placeholder{
    color: var(--Letra-input-color);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
}

.nova-tarefa:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
}

.icone__excluir{
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.check-tarefa{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.imagem__nova-tarefa{
    width: 25px;
    height: 25px;
    cursor: pointer;

}

.imagem__nova-tarefa:hover{
    transform: scale(1.2);
}
